Repository sehlen-bsi/botan-docs, pull requests merged in 2025-02, with the labels that each got.

#256 Cryptodoc Update: pcurves
  docs/cryptodoc/src/05_03_ecc.rst
Labels: cryptodoc

#255 Testspec: Valgrind CT::poison() overview
  docs/audit_method/src/03_sidechannel_analysis.rst
  docs/testspec/src/90_valgrind_sca.rst
  docs/testspec/src/index.rst
Labels: testspec, side channel report

#251 Add jitter_rng module to crypto documentation
  docs/cryptodoc/src/07_rng.rst
  docs/cryptodoc/src/90_bibliographie.rst
Labels: cryptodoc

#250 Cryptodoc update for TPM 2.0 Wrapper
  docs/cryptodoc/src/07_rng.rst
  docs/cryptodoc/src/10_tpm.rst
  docs/cryptodoc/src/11_kdf.rst
  docs/cryptodoc/src/12_pbkdf.rst
  docs/cryptodoc/src/index.rst
  docs/testspec/src/18_tpm.rst
  docs/testspec/src/index.rst
Labels: cryptodoc, testspec

#243 Cryptodoc Update for ML-DSA
  docs/cryptodoc/src/05_00_pubkey.rst
  docs/cryptodoc/src/05_08_dilithium.rst
  docs/cryptodoc/src/05_08_ml_dsa.rst
  docs/cryptodoc/src/90_bibliographie.rst
Labels: cryptodoc

#239 Cryptodoc Update for ML-KEM
  docs/cryptodoc/src/05_00_pubkey.rst
  docs/cryptodoc/src/05_09_kyber.rst
  docs/cryptodoc/src/05_09_ml_kem.rst
Labels: cryptodoc

#238 side_channels: Add SLH DSA report
  docs/audit_report/src/side_channels/01_00_results.rst
  docs/audit_report/src/side_channels/01_04_slh_dsa.rst
Labels: auditreport, side channel report

#236 side_channels: Add ML DSA report
  docs/audit_report/src/06_bibliography.rst
  docs/audit_report/src/side_channels/01_00_results.rst
  docs/audit_report/src/side_channels/01_02_ml_dsa.rst
Labels: auditreport, side channel report

#235 Cryptodoc Update for SLH-DSA
  docs/cryptodoc/src/05_00_pubkey.rst
  docs/cryptodoc/src/05_07_slh_dsa.rst
  docs/cryptodoc/src/05_07_spx.rst
  docs/cryptodoc/src/05_10_frodokem.rst
  docs/cryptodoc/src/90_bibliographie.rst
Labels: cryptodoc

#264 Update poetry dependencies
  docs/architecture/poetry.lock
  docs/audit_method/poetry.lock
  docs/audit_report/poetry.lock
  docs/cryptodoc/poetry.lock
  docs/testreport/poetry.lock
  docs/testspec/poetry.lock
  tools/auditupdate/poetry.lock
  tools/genaudit/poetry.lock
  tools/sourceref/poetry.lock
Labels: chore

#187 Classic McEliece Testspecification
  docs/testspec/src/12_pubkey_kem.rst
Labels: testspec

#204 Classic McEliece Side Channel Report
  docs/audit_report/src/side_channels/01_00_results.rst
  docs/audit_report/src/side_channels/01_01_cmce.rst
Labels: side channel report

#186 Classic McEliece Cryptodoc
  docs/cryptodoc/src/05_00_pubkey.rst
  docs/cryptodoc/src/05_11_cmce.rst
  docs/cryptodoc/src/90_bibliographie.rst
Labels: cryptodoc
